@model BetterBooks.Models.ApplicationUser

<div>

    @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>*@
    <h1 class="modal-title">@Model.UserName</h1>

    <p>Email: <a href="mailto:@Model.Email">@Model.Email</a></p>
    @if (Model.PhoneNumber != null)
    {
        <p>Phone: @Model.PhoneNumber</p>
    }
    @if (Model.HomeAddress != null)
    {
        <p>Address: @Model.HomeAddress</p>
    }
</div>
