@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About Better Books</h3>

<p>This project helps to organize book sharing in small community. Members can offer or/and request books to read. 
    System helps to track who has the book at the moment and manage the queue. We would start small with Kitchener and eventually and 
    slowly expand to other town such as Waterloo, and Cambridge and potentially hosting our assignment on amazon web services. </p><br />

<h4>Better Books Developers</h4>
<p>This Project was built under the Conestoga Application Project course otherwise known as a "Capstone" by student enrolled in the 
    computer programming program. This Project was created by the hard of Kate Galich, Ajay Dhillon, and Janvi Garg; under the advisement 
    of Sachin Parikh.</p>
