@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Conestoga Way<br />
    Kitchener ON, Canada<br />
    <abbr title="Phone">P:</abbr>
    226-000-0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Better Books Support Team</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@betterbooks.ca</a>
</address>
