@{
    ViewBag.Title = "Contact";
}

<body style="background-image: url('https://images.unsplash.com/photo-1523868157789-c313eb2f1ee9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80'); height: 900px; background-size: cover; background-repeat: no-repeat; background-position-x: center; background-position-y: center;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Conestoga Way<br />
        Kitchener ON, Canada<br />
        <abbr title="Phone">P:</abbr>
        226-000-0000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Better Books Support Team</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@betterbooks.ca</a>
    </address>

</body>